.title{
    width: 100%;
    align-items: center;
    margin: auto;
    text-align: center;
}
.detail{
    width: 100%;
    align-items: center;
    margin: auto;
    text-align: center;
    width: 100%; 
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    margin-top: 20px;
    border-color: gray;
    padding-bottom: 5px;
}
.card-body{
    background-color: rgba(182, 175, 175, 0.582);
}
.state{
    font-size: small;
}
p {
    margin-bottom: 0;
}