<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28900324531-h5r8jjlcl8m4goh3k79hfrvmketqukml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28900324531-h5r8jjlcl8m4goh3k79hfrvmketqukml</string>
	<key>API_KEY</key>
	<string>AIzaSyAKhfqshkWsjwkrOQla9Xg7Cv12qbAf_gU</string>
	<key>GCM_SENDER_ID</key>
	<string>28900324531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tollabco.tollabco</string>
	<key>PROJECT_ID</key>
	<string>prototype-app-88747</string>
	<key>STORAGE_BUCKET</key>
	<string>prototype-app-88747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28900324531:ios:2ff2f07bd4d061fd</string>
	<key>DATABASE_URL</key>
	<string>https://prototype-app-88747.firebaseio.com</string>
</dict>
</plist>