<div class="container" style="width: 90%;">
  <div style="align-items: center;">
    <h3 style="text-align: center; margin-top: 50px; margin-bottom: 10px;">Tollab Employer Guidelines</h3>
    <p style="text-align: center;">Millions of students place their trust in Tollab and the companies on our
      platform. To maintain that trust,
      all employers on Tollab must agree to the following general guidelines, in addition to our <a
        href="/termofservice"> Terms of Service</a>:
    </p>
  </div>
  <div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <img src="../../assets/logo/logo_transparent_background.png" class="rounded" style="width: 50px;">
          </div>
          <div class="col-md-10">
            <label style="margin: auto;"><strong> Accurate and Trustworthy:</strong> Tell the truth about your company,
              your team and
              the jobs available.</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <img src="../../assets/logo/logo_transparent_background.png" class="rounded" style="width: 50px;">
          </div>
          <div class="col-md-10">
            <label style="margin: auto;"><strong> Your Commitments:</strong> When you make a commitment to a school or
              student, keep
              it. If you can't, work to provide a fair and equitable path for affected students.</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <img src="../../assets/logo/logo_transparent_background.png" class="rounded" style="width: 50px;">
          </div>
          <div class="col-md-10">
            <label style="margin: auto;"><strong>Fair:</strong> Do not discriminate based on ethnicity, national origin,
              religion*,
              age, gender, sexual orientation, disability or military / veteran status or lack thereof.</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <img src="../../assets/logo/logo_transparent_background.png" class="rounded" style="width: 50px;">
          </div>
          <div class="col-md-10">
            <label style="margin: auto;"><strong> Student Info Confidential:</strong> Guard student information as if it
              were your
              own. Do not disclose any personal information without the prior consent of a student.</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 10px; margin-bottom: 20px;">
    <p style="text-align: center;">In addition, most career service centers require employers to abide by the full NACE
      Principles for
      Employment Professionals.</p>
  </div>
  <!-- <div class="row" style="background-color: rgba(212, 112, 36, 0.199); ">
    <div class="col-md-8" style="margin: 30px auto;">
      <p style="text-align: center; margin: auto;">Are you a 3rd party recruiter working on behalf of another company?
      </p>
    </div>
    <div class="col-md-4" style="margin: 25px auto;">
      <button class="btn btn-primary" style="margin-right:5px;">Yes</button>
      <button class="btn btn-primary">No</button>
    </div>
  </div> -->
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-8">
      <p>By continuing, you agree to the <a href="/termofservice"> Terms of Service</a>, acknowledge you have read the
        <a href="/privacy"> Privacy Policy</a>, and agree to
        Tollab Employer Guidelines. You will also receive communication from Tollab related to your jobs and on
        campus activities.</p>
      <p class="detail">*As with EEOC's Title VII, this does not apply to institutions whose purpose and character are
        primarily
        religious (i.e. a ministry).</p>
    </div>
    <div class="col-md-4">
      <a routerLink="/confirm-email"><ion-button (click)="goConfirm()" style="margin: 30px auto; float: right; ">Next: Confirm Email</ion-button></a>
    </div>
  </div>
</div>
