<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <ion-title>Reset Password</ion-title>
    </ion-toolbar>
</ion-header>


<div class="ion-padding container-small">
    <div *ngIf="!sent">
        <ion-item [formGroup]="form">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="errorMsg.length">
            <ion-text color="danger">{{ errorMsg }}</ion-text>
        </div>
        <ion-button expand="block" (click)="sendPasswordReset()">Next</ion-button>
    </div>

    <div *ngIf="sent" class="back-success-translucent border rounded border-success ion-padding">
        <p>A password reset email was sent to your email: {{ form.value.email }}. Please follow the instructions
            found in this email to reset your password.</p>
    </div>
</div>
