<ion-card style="width: 350px; height: 430px;">
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/logo/logo_transparent_background.png">
    </ion-avatar>
    <ion-label>
      <h3>John Doe</h3>
      <p>Dec 10, 2019</p>
    </ion-label>
  </ion-item>
  <img src="../../assets/img/bg-masthead.jpg" alt="ion" style="height: 200px;">
  <ion-card-header>
    <ion-card-title>Hotel Panama Garden</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
  </ion-card-content>
  <ion-footer>
  </ion-footer>
</ion-card>