<ion-header no-border>
    <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="notifications.length > 0">
        <ion-item button (click)="onGoToNotification()" *ngFor="let notification of notifications">
            <!--
            <ion-avatar>
                <img src="" alt="Notification Icon">
                 TODO: replace with a notification specific image
            </ion-avatar>
            -->
            <ion-icon name="notification" slot="start"></ion-icon>
            <ion-label>{{notification.body}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-grid style="height: 100%;" *ngIf="notifications.length === 0">
        <ion-row align-items-center style="height: 100%;">
            <ion-col text-center style="font-size: 24px;">
                <ion-icon name="sad" color="danger"></ion-icon>
                <br>
                <ion-label color="danger">No notifications</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
